---
---
.site-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: #222;
  padding: 0.5em 1em;
}

.site-nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.site-nav a:hover {
  color: #00ffff;
  border-bottom: 2px solid #00ffff;
}
.site-nav .current {
  color: #00ffff;
  border-bottom: 2px solid #00ffff;
}
