.header-image {
  height: 15vh; 
  object-fit: cover; 
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.page {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 auto;
  padding: 0 2rem;
}

.page__content {
  width: 100% !important;
  max-width: 100% !important;
}
