.header-image {
  height: 15vh; 
  object-fit: cover; 
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.page__content {
  background: rgba(0, 255, 255, 0.05);
}
